{% extends 'main/base.html' %}
{% block content %}
{% load static %}
    <!-- Your content specific to project.html -->
    <div class="content-header">
        <header class="text-left mr-1">
            <article class="flex-container">
                <div class="text-container">
                    <h2 class="text-leftcenter px-5" style="padding-bottom: 30px; padding-top: 30px;"><i>“Creativity is intelligence having fun.” <br> Albert Einstein</i></h2>
                </div>
            </article>
        </header>
    
            <div class="row">
                <div class="column">
                    <img src="{% static 'images/winter20193.jpg' %}" alt="winter20193" class="responsive-image">
                </div>
                <div class="column">
                    <img src="{% static 'images/monkey.png' %}" alt="monkey" class="responsive-image">
                </div>
                <div class="column">
                    <img src="{% static 'images/flowers.png' %}" alt="flowers" class="responsive-image">
                </div>
            </div>

        <div class="row">
            <div class="column">
                <img src="{% static 'images/fallseden.jpg' %}" alt="fallseden" style="width:100%">
            </div>
            <div class="column">
                <img src="{% static 'images/winter20192.jpg' %}" alt="winter20192" style="width:100%">
            </div>
            <div class="column">
                <img src="{% static 'images/winter2019.jpg' %}" alt="winter2019" style="width:100%">
            </div>
        </div>
    </div>

    <div class="text-content">
        <p class="text-leftcenter" style="padding-top: 40px;">
            For me, creativity plays a significant role in maintaining positive energy in my life. <br>
            Photography serves as a powerful means of self-expression, offering immense satisfaction <br>
            when capturing beautiful moments. Since acquiring my Canon 80D in 2018, it has become a source of recreation, <br>
            contributing to various aspects of my life. I find its application particularly beneficial in programming and <br>
            cybersecurity, strengthening the ability to identify opportunities in challenges. This mindset has been leading the way <br>
            in my pursuit of understanding networks, programming, and pentesting, making the learning process more manageable. <br><br>
            Take, for instance, the inception of this website. Initially, the idea seemed daunting, when I first googled Django documentation <br>
            or basic HTML and CSS left me feeling overwhelmed. However, it's these moments of challenge that fuel my determination. <br>
            Reflecting on my journey, I find satisfaction in acknowledging my progress and experiencing a sense of accomplishment <br>
            when comparing my current skills to those I had when I first started.
        </p>
    </div>

    <article class="flex-container">
        <div class="text-container">
            <img class="gym responsive-image" src="{% static 'images/gym.png' %}" alt="gym" style="padding-top: 40px;">            
        </div>
        <h2 class="text-leftcenter px-5" style="padding-bottom: 30px; padding-top: 30px; padding-left: 50px;"><i>“The body achieves what the mind believes.”  Napoleon Hill </i></h2>
    </article>

    
    <div class="text-content">
        <p class="text-leftcenter" style="padding-top: 40px;" >
            When I'm not by the computer or reading nowadays, you probably find me at the gym,<br>
            this is my time after a long day by the computer to regain focus and stay sharp-minded. Equally crucial is <br>
            maintaining a healthy diet to sustain my lifestyle.<br> <br> I've had numerous individuals approach me seeking advice on nutrition and <br>
            gym techniques. However, one of the most common questions I receive pertains to weight loss, and that's what I'll delve into below. <br>
            I'll briefly touch on nutritious foods, provide examples of my meals during "cut-season," and offer a beginner-friendly workout routine.
        </p>
    </div>

    <article class="flex-container">
        <div class="text-container">
            <img class="gym responsive-image" src="{% static 'images/superfoods.png' %}" alt="foods" style="padding-top: 40px;">            
        </div>
        
        <p class="text-leftcenter" style="padding-left: 40px; padding-top: 40px;" > 
            <br><u>Don't starve!</u> <br><br><u>Don't lose weight too fast!</u>  <br><br> <u>Just Enjoy!</u>
        </p>
    </article>
        
        <p class="text-leftcenter" style="padding-left: 40px; padding-top: 40px;" > 
            
            
            <br><u>Don't starve!</u> <br><br><u>Don't lose weight too fast!</u>  <br><br> <u>Just Enjoy!</u>
        </p>
    </article>
    
    <p class="text-leftcenter" style="padding-left: 40px; padding-top: 40px;" > 
        <h2 class="text-leftcenter px-5" style="padding-bottom: 30px; padding-top: 20px; padding-left: 50px;"><i>Weight Loss</i> </h2>  
        In weight loss, the fundamental principle is achieving a caloric deficit. This means burning more <br>
            calories than you consume. While this can be achieved most effectively through diet and exercise, <br> 
            choose nutrient-dense foods,and create a sustainable caloric deficit. In short, calculate your BMR <br>
            (Basal Metabolic Rate), depending on exercise frequenzy and lever of exercise height, age, and weight.<br>
            <br><br>
            One habit to start with in beginning could be to look at the backside of your groceries to get and understanding<br>
            of how much calories it is containing, you realaize quick that its pretty easy to go far over your BMR with <br>
            candy, fast foods etc and what amount you can eat same calories in different foods for example this picture of superfoods.<br>
            <br><br>
            <h3 class="text-leftcenter px-5" style="padding-bottom: 30px; padding-top: 20px; padding-left: 50px;">But what should i eat?</h3>
            to recommend from my experience i usually go with low carb diet. Example you weight is 100 kg i would say eat 200g protein,<br>
            100g fat and the rest of carbs to meet your daily calorie goal. recipes on lowcarb highfat and protein is the web full of<br>
            just google it. You could more and more switch your foods to more nutritional, lets say you make a rule to yourself if <br>
            you find it hard start eating alot of things you dont really like or not used too you could every meal add 1 or 2 nutrition<br>
            packed superfood to your plate.
            <br><br>Another rule could be dont refill your plate, only one portion. You will eventually learn <br>
            your body's response. experiment on your daily calorie goal but do not go more than 500 calorie deficit each day,<br>
            to make a more healthy weightloss. Good Luck!          
    </p>
 
    <p>
        
            <h2 class="text-leftcenter px-5" style="padding-top: 30px; padding-bottom: 20px; padding-left: 50px;"><i>Workout Routine</i></h2>
            i will give one beginner friendly workout routine, i just start mentioning base exercises, also known as <br>
            Squat, Deadlift, Benchpress and Military press. These 4 is basically the base and from there you build further<br>
            an important key is correct technique in weightlifting, you should start off with vety low weight and focus <br>
            on your technique to experiment how you get the best contact to your muscles. <br><br>
            Later on when you know the exercises you start with proggressive overload which means you go to failure<br>
            Remember for building muscle you first (tear them down) after recovery from your muscle sore you start build.<br> 
            I give this simple day a week split, it's important to remeber doing some cardio which seems easy to skip for most.   
    </p>

    <h1><i>Weekly Workout Routine</i></h1>

    <div class="day">
        <h2>Day 1 - Full Body</h2>
        <div class="exercise">
            <p class="exercise-name">Squats:</p>
            <p>3 sets x 12 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Push-Ups:</p>
            <p>3 sets x 10 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Military press:</p>
            <p>3 sets x 10 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Bent-Over Rows:</p>
            <p>3 sets x 12 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Plank:</p>
            <p>3 sets, hold for 30 seconds each</p>
        </div>
    </div>

    <div class="day">
        <h2>Day 2 - Cardiovascular Exercise</h2>
        <div class="exercise">
            <p>Brisk walking, jogging, or cycling for 30 minutes</p>
        </div>
    </div>

    
    <div class="day">
        <h2>Day 3 - Full Body</h2>
        <div class="exercise">
            <p class="exercise-name">Lunges:</p>
            <p>3 sets x 10 reps per leg</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Benchpress or with dumbbells:</p>
            <p>3 sets x 12 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Lat Pulldowns:</p>
            <p>3 sets x 12 reps</p>
        </div>
        <div class="exercise">
            <p class="exercise-name">Deadlift:</p>
            <p>3 sets x 10 reps</p>
        </div>
    </div>

    <p>
        
        <h3 class="text-leftcenter px-5" style="padding-top: 30px; padding-bottom: 20px; padding-left: 50px;"><i>Choosing foods</i></h2>
        Usually by the cut season i try stay around 2500 kcal per day and Macros is 2 gram protein per kg of my wheight,  <br>
        mostly coming from meat/fish, proteinshakes, eggs, beans and other protein rich foods. <br><br>1 gram of fat per kg of my wheight
        which comes from non saturaded fats, example oliveoil, avocado, nuts, fat fishes such as salmon.
        <br><br>
        the rest is carbs, i try to stay under 150 each day, most carbs i get from fruits, oats and vegetables. i avoid eat <br>
        starch as much is possible, what im usually not eating this season is rice, pasta, bread, flour. i switch these into vegetables. example below:
        <br><br>
         
         
</p>

<div class="day">
    <h2><i>A day of eating</i></h2>

    <!-- Breakfast -->
    <div class="meal">
        <h3>Breakfast/lunch</h3>
        <p>4 eggs</p>
        <p>1dl oats (oatmeal)</p>
        <p>200g Blueberries</p>
        <p>1 Banana</p>
        <br><br>

    </div>

    <!-- Snack -->
    <div class="meal">
        <h3>Snack</h3>
        <p>Handfull of nuts</p>
        <p>1 Fruit</p>
        <p>Proteinshake</p>
        <br><br>
    </div>

    <!-- Dinner -->
    <div class="meal">
        <h3>Dinner</h3>
        <p>200g chicken</p>
        <p>300g vegetablemix</p>
        <p>30g olive oil</p>
        <p>some sweetchili or sriracha</p>
        
    </div>

    <style>
        /* Add these styles to your CSS file (e.g., styles.css) */
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .text-container {
            text-align: center;
        }
    
        .text-content {
            flex-grow: 1;
            padding-left: 20px;
        }
    
        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
    
        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    
        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 768px) {
            .column {
                width: 100%;
            }
        }
    
        /* Additional styles for responsiveness */
        @media screen and (max-width: 500px) {
            .text-leftcenter {
                text-align: center !important;
            }
        }
    
        footer {
            text-align: center;
            padding: 20px;    
        }

        .responsive-image {
                width: 100%;
                height: auto;
            }

            .text-content {
                max-width: 800px; /* Adjust the maximum width based on your design */
                margin: 0 auto;
            }
    </style>
    
{% endblock %}
